{% extends 'main.html' %}

{% block content%}

<form action='' method='POST'>{% csrf_token %}

<div class = "row">
    <div class = "col-md">
	<div class = "card card-body">
		
	<table class="table table-sm">
    <tr>
    {% for column in host_details_col %}
		<th>{{column}}</th>
    {% endfor %}
    </tr>


	{% for row in host_details_data %}
	<tr>
        {% for value in row %}
		<td>{{value}}</td>
        {% endfor %}
	</tr>
	{% endfor %}
	
 
</table>

</div>
</div>
</div>

</form>
{% endblock %}




